*{
    scroll-behavior: smooth;
}

.slash-l {
    border-radius: 0px 100px 100px 0px;
    clip-path: polygon(26% 1%, 100% 1%, 100% 101%, 0% 100%);
    margin: 1rem 0px 0px -5rem;

    backdrop-filter: blur(3px) brightness(75%);

   

    z-index: 9;
}

.slash-l-line {
    background-color: white;
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0% 100%);
    transform: rotate(41deg) translateX(9.4rem) translateY(-7.6rem);
    height: 5.2rem;
    width: 2px;
    position: absolute;
    z-index: 10;
}

@media screen and (max-width: 1023px){
    .slash-l {
        clip-path: polygon(26% 1%, 100% 1%, 100% 101%, 0% 100%);
        margin: 1rem 0px 0px -4rem;
    }

    .slash-l-line {
        clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);

        transform: rotate(39deg) translateX(0.6em) translateY(0.25rem);

        height: 3.8rem;
    }
}

.slash-r {
    border-radius: 100px 0px 0px 100px;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}